body {
  font-family: Arial, Helvetica, sans-serif;
}

.admin-header {
  background-color: #1f1f1f;
  color: white;
  padding: 5px;
  padding-left: 30px;
}

.admin-container {
  display: flex;
}

.admin-menu {
  background-color: #c2c2c2;
  height: 100vh;
  padding: 10px;
  border: 1px solid black;
  border-top: none;
}

.admin-menu nav ul {
  list-style-type: none;
  padding: 0; /* tar bort utrymme till vänster */
}

.admin-menu nav ul li {
  padding-bottom: 10px;
}

.admin-menu nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
}

.admin-menu nav ul li a:hover {
  background-color: #bbbec0;
}

.admin-content {
  padding: 20px;
  width: 100%;
}

.content-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.button-group {
  display: flex;
  gap: 30px;
}

.new-product-button,
.load-products-button {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.new-product-button:hover,
.load-products-button:hover {
  background-color: #e7e7e7;
}

.product-data-table {
  width: 100%;
  border-collapse: collapse; /* tar bort mellanrum mellan kolumner */
}

.product-data-table th,
.product-data-table td {
  border: 1px solid black;
}

.product-data-table th {
  background-color: #bebebe;
}

.product-data-table tr:nth-child(odd) {
  background-color: #eeeeee;
}

.product-data-table td:last-child {
  width: 50px;
  text-align: center;
}

.product-data-table td:last-child a {
  text-decoration: none;
  color: black;
}

.product-data-table td:last-child a:hover {
  color: #6f7172;
}

/* new.hmtl */

form label,
form input,
form textarea,
form input[type="file"] {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

form textarea {
  width: 350px;
  height: 150px;
}

button[type="submit"] {
  margin-top: 20px;
  padding: 5px 20px;
  border-radius: 5px;
}

button[type="submit"]:hover {
  background-color: #bbbec0;
  cursor: pointer;
}
